:root {
	--mainColor: #34AC98;
	--hlColor: #EC6635;
	--screenWidth: 320px;
	--slideHeight: 280px;
}

body {
	
}

a {
	text-decoration: none;
}

.container {
	display: flex;
	flex-flow: row wrap;
	width: var(--screenWidth);
	margin: 0 auto;
}

/* Navigation bar */

.nav-bar {
	width: 100%;
	display: flex;
	flex-direction: column;
}

nav {
	font-size: 13px;
	font-style: italic;
	padding: 20px 0;
	border-bottom: 1px solid lightgray;
}

nav ul {
	list-style-type: none;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

nav li {
	display: inline-block;	
}

nav li a {
	color: var(--mainColor);
	transition: color 0.2s;
}

nav li a:hover {
	color: var(--hlColor);
}

.nav-item {
	padding: 0 5px;
}

.nav-icon {
	display: none;
}

/* Logo */

.logo {
	width: 118px;
	margin: 20px auto;
}

/* Social Side */

.social-side {
	padding-right: 20px;
}

.twitter-side p, .fb-side p {
	font-size: 13px;
	border-bottom: 1px dashed lightgray;
}

.twitter-con, .fb-con {
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	color: var(--mainColor);
	transition: background 0.3s, color 0.3s;
	margin-bottom: 20px;
}

.twitter-con:hover, .fb-con:hover {
	color: var(--hlColor);
	border-color: #D3EDE9;
	background: #EFF8F7;
}

.twitter-con-icon {
}

.twitter-con div, .fb-con div { 
	display: inline-block;
	border: none;	
	font-size: 11px;
	font-style: italic;
	
}

.fb-side-des {
	border: none;
	font-size: 11px;
	font-style: italic;
	line-height: 18px;
	padding-bottom: 10px;
}

/* Slide Header */

header {
	padding-bottom: 20px;	
	width: 100%;
}

.slide {
	display: none;
	position: relative;
	top: 0;
	height: var(--slideHeight);
	overflow: hidden;
	transition: visibility 0.3s, opacity 0.3s;
}

.slide-img {
	position: absolute;
	display: block;
	height: 100%;
}

.slide-des {
	width: 100%;
	position: absolute;
	bottom: 0;
	transition: opacity 0.5s;
}

.slide-des:hover {
	opacity: 0.7;
}

.slide-des-title {
	background: rgba(255, 255, 255, 0.8);
	padding: 8px;
	color: black;
	font-size: 15px;
	font-style: italic;
}

.slide-des-text {
	color: white;
	background: black;
	padding: 8px;
	font-size: 12px;
	font-style: italic;
}

.slide-nav {	
	display: none;
	flex-direction: row;
	padding: 0;
}

.slide-nav ul {
	width: 100%;
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0 auto;
}

.slide-nav li {	
	display: inline-block;	
	cursor: pointer;
	width: 24%;
	padding: 10px 0;
	margin: 0;	
	transition: background 0.2s, color 0.5s, border 0.2s;
	border-right: 2px solid #E5FFFA;
	border-left: 2px solid #E5FFFA;
	border-bottom: 2px solid #E5FFFA;
}

.slide-nav li:hover {
	color: var(--hlColor);
/*	background: #E7F5F3;*/
/*	border-color: #D3EDE9;*/
}

.slide-nav-cur {
	color: var(--mainColor);
	background: #EFF8F7;
	border-color: #E5FFFA;
}

.slide-nav-cur-hl {
	color: var(--mainColor);
/*	color: var(--hlColor);*/
/*	background: #C1F2EF;*/
	background: #D2F2ED;
	border-color: #9FE0D5;
}

/* Social sidebar */

.social-side {
	display: none;
}

/* Subscribe */

.subscribe {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin: 0 auto;
	padding: 20px 0px;
	border-top: 1px dashed lightgray;
	border-bottom: 1px dashed lightgray;
}

.subscribe-icon {
	flex: 1;
	padding: 15px;
	text-align: center;
}

.subscribe-des {
	flex: 9;
	font-size: 12px;
	font-style: italic;
	padding-top: 10px;
}

.subscribe-form {
	flex: 1 100%;
	text-align: center;
}

.subscribe-form input[type='email'] {
	padding: 3px;
	font-size: 13px;
	font-style: italic;
}

/* Articles */

.story {
	padding-top: 20px;
	margin-bottom: 20px;
}

article {
	width: 90%;
	margin: auto;
}

.article-thumb {
	color: var(--mainColor);	
	transition: color 0.5s;
}

.article-thumb:hover {
	color: var(--hlColor);	
}

.article-thumb-img {
	border: 1px solid lightgray;
	border-radius: 2px;
	padding: 10px 10px 6px 10px;
	transition: opacity 0.5s;
}

.article-thumb:hover .article-thumb-img {
	opacity: 0.8;
}

.article-thumb-img img {
	width: 100%;
	height: 100%;
}

.article-thumb-title {		
	padding: 15px 0;
}

.article-des {
	font-size: 15px;	
}

.article-note {
	color: gray;
	font-size: 15px;
	padding: 15px 0 20px 0;
}

.article-note a {
	color: var(--mainColor);
}

.article-note a:hover {
	color: var(--hlColor);
}

/* Footer */

footer {
	width: 100%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 40px;
	border-top: 1px solid lightgray;
}

.copyright {
	font-size: 11px;
	color: gray;
	line-height: 17px;
	float: left;
}

.copyright-links a {
	color: var(--mainColor);
	transition: color 0.3s;
}

.copyright-links a:hover {
	color: var(--hlColor);
}

.social-icons {
	float: right;
}

.social-icons img {
	opacity: 0.4;
	transition: opacity 0.5s;
}

.social-icons img:hover {
	opacity: 1.0;
}

/* Helper */

.clear-fix {
	clear: both;
}

/* Responsive */

@media screen and (min-width: 480px) {
	:root {	--screenWidth: 480px;	}	
	.nav-bar {	order: 1; flex-direction: row;	}
	nav {	order: 2;	display: flex;	}	
	nav ul {	align-self: center;	}	
	.logo {	order: 1;	margin-left: 0;}	
	.content {	order: 2;	}
	.subscribe-icon {	padding: 8px 15px;	}
	.subscribe-form { text-align: left; padding-left: 15px; }
	.subscribe-form input[type='email'] {	width: 70%; margin-right: 10px;	}
	.story {	order: 4;	display: flex; flex-flow: wrap; justify-content: center;	}
	article {	display: inline-block; width: 216px;	height: 350px;}	
	footer {	order: 3;	}
}

@media screen and (min-width: 768px) {
	:root {	--screenWidth: 712px;	--slideHeight: 444px;}
	
	nav {	font-size: 17px;	}	
	.nav-item {	padding: 0 15px;	position: relative;}
	.nav-icon { display: block;	position: relative; top: -5px; transition: top 0.2s;}
	.nav-item:hover .nav-icon { top: 0px;	}
	.nav-text { position: relative; bottom: 0;}
	
	.slide-des { display: flex; flex-direction: column; align-items: flex-end; width: inherit; bottom: 70px; right: 0;  }
	.slide-des-title {	display: table; font-size: 25px; padding: 12px 20px; position: relative;	}
	.slide-des-text {	display: table; font-size: 18px; padding: 10px 20px;	}
	.slide-nav {	display: flex;	}
	
	.subscribe-icon {	flex: 1;	}
	.subscribe-des {	flex: 5; font-size: 15px; padding: 0;	}
	.subscribe-form { flex: 4; padding: 10px; }
	.subscribe-form input[type='email'] {	width: inherit; margin-right: 10px;	}
	
	article {	display: inline-block; width: 22%;}
	.article-thumb-title {	font-size: 17px;	}
	.article-des {	font-size: 15px;	}
	.article-note {	font-size: 14px;	}
	
	.copyright {	font-size: 13px;	}
}

@media screen and (min-width: 992px) {
	:root {
		--screenWidth: 896px;
	}
	.container {	}
	.nav-bar {	flex-direction: column; width: 19%;	}
	.logo { margin: 10px 0; }
	nav {	flex-direction: column; border: none;	}
	nav ul {	margin-left: 0;	}
	nav li {	display: block;	}
	.nav-item {	padding: 0 0; margin-bottom: 10px;	display: flex; }
	.nav-icon { left: 0; transition: left 0.2s; margin-right: 17px;	}
	.nav-item:hover .nav-icon { left: 7px; top: -5px;	}
	.nav-text { position: relative; right: 0;	}
	
	.social-side {	order: 3; display: block;	}
	.content {	width: 79%; margin-left: auto;	}
	header {	order: 2; overflow: hidden;	}
	
	.subscribe {	order: 3; margin-left: auto;	}
	.subscribe-icon {	padding: 0;	}
	.subscribe-icon img {	margin: 0;	}
	.subscribe-des {	font-size: 13px;	}
	.subscribe-form {	text-align: right; width: 60%; padding: 4px 0 0 0;	}
	.subscribe-form input[type='email'] {	font-size: 12px;	}
	.subscribe-form input[type='submit'] {	font-size: 12px; position: }
}

@media screen and (min-width: 1176px) {
	:root {
		--screenWidth: 1080px;
	}
}